<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthBuddyPro"
        tools:targetApi="31">
        <activity
            android:name=".set_routine"
            android:exported="false" />
        <activity
            android:name=".set_routine_exercise"
            android:exported="false" />
        <activity
            android:name=".routine_check_view"
            android:exported="false" />
        <activity
            android:name=".group_start02"
            android:exported="false" />
        <activity
            android:name=".complete_today_workout"
            android:exported="false" />
        <activity
            android:name=".add_exercise"
            android:exported="false" />
        <activity
            android:name=".quit_hb04"
            android:exported="false" />
        <activity
            android:name=".quit_hb03"
            android:exported="false" />
        <activity
            android:name=".quit_hb02"
            android:exported="false" />
        <activity
            android:name=".quit_hb01"
            android:exported="false" />
        <activity
            android:name=".make_routine03"
            android:exported="false" />
        <activity
            android:name=".make_routine02"
            android:exported="false" />
        <activity
            android:name=".make_routine01"
            android:exported="false" />
        <activity
            android:name=".group_locked"
            android:exported="false" />
        <activity
            android:name=".workout_fix_item"
            android:exported="false" />
        <activity
            android:name=".today_routine"
            android:exported="false" />
        <activity
            android:name=".routine_list_item"
            android:exported="false" />
        <activity
            android:name=".routine_list"
            android:exported="false" />
        <activity
            android:name=".routine_check_item"
            android:exported="false" />
        <activity
            android:name=".routine_check"
            android:exported="false" />
        <activity
            android:name=".popup_edit_workout"
            android:exported="false" />
        <activity
            android:name=".single_group_choicepage"
            android:exported="false" />
        <activity
            android:name=".location_check"
            android:exported="false" />
        <activity
            android:name=".fix_routine"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTS66zRXrKJeeZIjwbKAX4YuzYPHfhdBA" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Matching.Chat.ChatActivity" />
        <activity android:name=".ProfileDetailActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>